<!DOCTYPE html>
<html>
<head>
    <title><%= error.status %> <%= message %></title>
    <link rel='stylesheet' href='/stylesheets/404.css'/>
</head>
<body>
    <div class="error">
        <h1><%= error.status %><%= message %></h1>
    </div>
    <!--<pre><%= error.stack %></pre>-->
</body>
</html>
